#chat-container {
  display: flex;
  height: 90vh;
  width: 100vw;
  max-width: 1550px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#bot-list-container {
  width: 200px;
  margin-right: 20px;
}

#bot-list {
  list-style-type: none;
  padding: 0;
}

.bot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #e1f5fe;
  cursor: pointer;
  text-align: center;
}

.bot-item:hover {
  background-color: #b3e5fc;
}

.bot-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.bot-description {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

#chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#message-list {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e1f5fe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message strong {
  color: #0277bd;
}

#message-input {
  flex: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

#send-button, #clear-button {
  flex: 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0277bd;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

#send-button:hover, #clear-button:hover {
  background-color: #01579b;
}

.item-card, .boss-card, .trader-card, .map-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: relative;
}

.item-icon, .boss-icon, .trader-icon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 16px;
}

.boss-icon, .trader-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.item-details, .boss-details, .trader-details, .map-details h3 {
  margin: 0 0 8px 0;
}

.item-details p, .boss-details p, .trader-details, .map-details p {
  margin: 4px 0;
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pokemon-card h3 {
  margin: 0 0 8px 0;
}

.pokemon-card p {
  margin: 4px 0;
}
